In [5]:
import pandas as pd

In [6]:
elprices = pd.read_csv("data/elprices.csv")

In [7]:
elprices

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|NO1
0,01.01.2021 00:00 - 01.01.2021 01:00,24.95,EUR,NaN
1,01.01.2021 01:00 - 01.01.2021 02:00,24.35,EUR,NaN
2,01.01.2021 02:00 - 01.01.2021 03:00,23.98,EUR,NaN
3,01.01.2021 03:00 - 01.01.2021 04:00,23.72,EUR,NaN
4,01.01.2021 04:00 - 01.01.2021 05:00,23.73,EUR,NaN
...,...,...,...,...
8756,31.12.2021 19:00 - 31.12.2021 20:00,141.34,EUR,NaN
8757,31.12.2021 20:00 - 31.12.2021 21:00,141.97,EUR,NaN
8758,31.12.2021 21:00 - 31.12.2021 22:00,140.50,EUR,NaN
8759,31.12.2021 22:00 - 31.12.2021 23:00,139.18,EUR,NaN
8760,31.12.2021 23:00 - 01.01.2022 00:00,138.30,EUR,NaN